{% extends 'reprise.html' %}
{% block content %}
    <div class="center">
        <h2><i>Cadastre-se</i></h2>
        <hr>
        <div class="form-control shadow">
            <form action="/cadastro" method="post">
                {{ cadform.hidden_tag() }}
                <label for="nome">Nome:</label>
                {{ cadform.nome(class="form-control") }}

                <p></p><label for="email">Email:</label>
                {{ cadform.email(class="form-control") }}</p>
                <div class="red end">{{ cadform.email.errors[0] }}</div>

                <label for="senha">Senha:</label>
                {{ cadform.senha(class="form-control") }}
                <div class="red end">{{ cadform.senha.errors[0] }}</div>
                    <ul>
                        <li>deve ter pelo menos 8 caracteres</li>
                        <li>deve conter pelo menos uma letra maiúscula</li>
                        <li>deve conter pelo menos um número</li>
                        <li>deve conter pelo menos um caractere especial</li>
                    </ul>
                    
                <p><label for="confirmar_senha">Confirmar Senha:</label>
                {{ cadform.confirmar_senha(class="form-control") }}
                <div class="red end">{{ cadform.confirmar_senha.errors[0] }}</div>
                <p class="text-center">{{ cadform.btn(class="btn btn-dark col-6") }}</p>
                <p class="text-center">Já tem uma conta?<a href="{{url_for('login')}}"> Faça login</a>
            </form>
    </div>
    </div>
{% endblock %}