<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Tarefas</title>
    <style>
        .center{
            text-align: center;
        }
        .border{
            border: solid rgb(0, 0, 0);
            height: 25px;
            width: 300px;
        }
        .end{
            text-align: end;
        }
    </style>
</head>
<body>
    <div class="container">
        <div>
            <span style="display: flex; align-items: center; justify-content: space-between;">
                <h2><I>GESTOR DE TAREFAS</I></h2>
                <a class="end" href="{{url_for('todas_tarefas')}}"><button>Todas as Tarefas</button></a>
            </span>
            <HR></HR>
            <div class="end"><form action="" method="post">
            {{ form.hidden_tag() }}
                {{ form.data() }}
                <label for="horario">Horário:</label>
                {{ form.time() }}
                <label for="titulo">Tarefa:</label>
                {{ form.tarefa() }}
                {{ form.btn() }}
        </form></div>
            <br><br><br>
            <ul>
                <form action="/" method="get">
                    {% for data, tarefa in hoje.items() %}
                    <h3 class="center">HOJE</h3>
                        {% for t in tarefa %}
                            <li style="display: flex; align-items: center; justify-content: space-between;">
                                <span>{{ t.time }} - <b>{{ t.tarefa }}</b></span>
                                <span>
                                    <a href="{{ url_for('editar', id=t.id) }}">Editar</a>
                                    <a href="{{ url_for('delete', id=t.id) }}">Delete</a>
                                </span>
                        </li>
                        {% endfor %}
                    <hr>
                    <br><br>
                    {% endfor %}
                    {% for data, tarefa in amanha.items() %}
                    <h3 class="center">AMANHÃ</h3>
                        {% for t in tarefa %}
                            <li style="display: flex; align-items: center; justify-content: space-between;">
                            <span>{{ t.time }} - <b>{{ t.tarefa }}</b></span>
                            <span>
                                <a href="{{ url_for('editar', id=t.id) }}">Editar</a>
                                <a href="{{ url_for('delete', id=t.id) }}">Delete</a>
                            </span>
                        </li>
                        {% endfor %}
                    <hr>
                    <br><br>
                    {% endfor %}
                </form>
            </ul>
</body>
</html>