<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Tarefas</title>
    <style>
        .center{
            text-align: center;
        }
        .border{
            border: solid rgb(0, 0, 0);
            height: 25px;
            width: 300px;
        }
        .end{
            text-align: end;
        }
    </style>
</head>
<body>
    <div class="container">
        {% if current_user.is_authenticated %}
            <span style="display: flex; align-items: center; justify-content: space-between;">
                <h2><I>GESTOR DE TAREFAS - {{ saudacao}} {{ current_user.nome.split()[0] }}!</I></h2>
                <a class="end" href="{{url_for('todas_tarefas')}}"><button>Todas as Tarefas</button></a>
            </span>
            <div class="end"><a href="{{url_for('logout')}}"><button>Encerrar Sessão</button></a></div>
            <HR></HR>
            <div class="end"><form action="/" method="post">
            {{ form.hidden_tag() }}
                {{ form.data() }}
                <label for="time">Horário:</label>
                {{ form.time() }}
                <label for="tarefa">Tarefa:</label>
                {{ form.tarefa() }}
                {{ form.btn() }}    
            </form></div>
            <br><br><br>
            <ul>
                <form action="/" method="get">
                    {% for data, tarefa in hoje.items() %}
                    <h3 class="center">HOJE</h3>
                        {% for t in tarefa %}
                            <li style="display: flex; align-items: center; justify-content: space-between;">
                                <span>{{ t.time }} - <b>{{ t.tarefa }}</b></span>
                                <span>
                                    <a href="{{ url_for('editar', id=t.id) }}">Editar</a>
                                    <a href="{{ url_for('delete', id=t.id) }}">Delete</a>
                                </span>
                        </li>
                        {% endfor %}
                    <hr>
                    <br><br>
                    {% endfor %}
                    {% for data, tarefas in amanha.items() %}
                    <h3 class="center">AMANHÃ</h3>
                        {% for t in tarefas %}
                            <li style="display: flex; align-items: center; justify-content: space-between;">
                            <span>{{ t.time }} - <b>{{ t.tarefa
                                 }}</b></span>
                            <span>
                                <a href="{{ url_for('editar', id=t.id) }}">Editar</a>
                                <a href="{{ url_for('delete', id=t.id) }}">Delete</a>
                            </span>
                        </li>
                        {% endfor %}
                    <hr>
                    <br><br>
                    {% endfor %}
                </form>
            </ul>
    </div>
    {% else %}
        <h2 class="center"><I>Bem-vindo ao Gestor de Tarefas</I></h2>
        <hr>
        <div class="center">
            <a href="{{url_for('login')}}"><button>Login</button></a>
            <a href="{{url_for('cadastro')}}"><button>Cadastro</button></a>
        </div>
    {% endif %}
    <div>
</body>
</html>