{% extends 'reprise.html' %}
{% block content %}
                <span style="display: flex; align-items: center; justify-content: space-between;">
                    <h2><I>{{ saudacao}} {{ current_user.nome.split()[0] }}!</I></h2>
                    <div class="end"><a class="btn btn-dark" href="{{url_for('todas_tarefas')}}">Todas as Tarefas</a></div>
                </span>
            
                <br>

                <form action="/" method="post">
                <div class="row end">
                {{ form.hidden_tag() }}
                    <div class="col">{{ form.data(class='form-control') }}</div>
                    
                    <div class="col">{{ form.time(class='form-control') }}</div>
                    
                    <div class="col">{{ form.tarefa(class='form-control') }}</div>
                    
                    <div class="col">{{ form.btn(class='btn btn-dark') }}</div>
                    
                </div>
                </form>
            <hr>
            <br><br>
            <ul>
                <form action="/" method="get">
                    {% for data, tarefa in hoje.items() %}
                    <h4 class="text-center">HOJE</h4>
                        {% for t in tarefa %}
                            <li style="display: flex; align-items: center; justify-content: space-between;">
                                <span>{{ t.time }} - <b>{{ t.tarefa }}</b></span>
                                <span>
                                    <a class="btn btn-dark" href="{{ url_for('editar', id=t.id) }}">Editar</a>
                                    <a class="btn btn-danger" href="{{ url_for('delete', id=t.id) }}">Delete</a>
                                </span>
                        </li>
                        {% endfor %}
                    <hr>
                    <br><br>
                    {% endfor %}
                    {% for data, tarefas in amanha.items() %}
                    <h4 class="text-center">AMANHÃ</h4>
                        {% for t in tarefas %}
                            <li style="display: flex; align-items: center; justify-content: space-between;">
                            <span>{{ t.time }} - <b>{{ t.tarefa
                                 }}</b></span>
                            <span>
                                <a class="btn btn-dark" href="{{ url_for('editar', id=t.id) }}">Editar</a>
                                <a class="btn btn-danger" href="{{ url_for('delete', id=t.id) }}">Delete</a>
                            </span>
                        </li>
                        {% endfor %}
                    <hr>
                    <br><br>
                    {% endfor %}
                </form>
            </ul>
    </div>
{% endblock %}