{% extends 'reprise.html' %}
{% block content %}
        <div class="center">
        <h2><i>Login</i></h2>
        <hr>
        <div class="form-control shadow">
            <br>
            <form action="/login" method="post">
                {{ form.hidden_tag() }}
                <label for="email">Email:</label>
                <p>{{ form.email(class="form-control") }}</p>
                <label for="senha">Senha:</label>
                {{ form.senha(class="form-control") }}
                <div class="red">{{ form.email.errors[0] if form.email.errors }}</div>
                <div class="red">{{ form.senha.errors[0] if form.senha.errors }}</div>
                <p><div class="text-center">{{ form.submit(class="btn btn-dark col-6") }}</div></p>
                <p class="text-center">Não tem uma conta?<a  href="{{url_for('cadastro')}}"> Cadastre-se</a>
            </form>
        </div>
        </div>
{% endblock %}