<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <span style="display: flex; align-items: center; justify-content: space-between;">
           <h2><i>TODAS AS TAREFAS</i></h2>
           <a href="{{url_for('home')}}"><button>Voltar</button></a>
        </span>
        <hr>
        <br><br>
        <form action="" class="get">
            {% for data, tarefa in agrupadas.items() %}
                <h3 class="center">{{data}}</h3>
                    {% for t in tarefa %}
                    <li style="display: flex; align-items: center; justify-content: space-between;">
                        <span>{{ t.time }} - <b>{{ t.tarefa }}</b></span>
                        <span>
                            <a href="{{url_for('editar', id=t.id)}}">Editar</a>
                            <a href="{{url_for('delete', id=t.id)}}">Delete</a>
                        </span></li>
                    </li>         
                    {% endfor %}
                    <hr>
                    <br><br>
            {% endfor %}
        </form>
    </div>
</body>
</html>